.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 100px 170px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 5px 30px;
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    left: -45px;
    z-index: 0;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-left h1{
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(267deg, #00ff00 -5.09%, #00BFFF 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 500px;
    color: antiquewhite;
    font-size: 20px;
    line-height: 40px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: antiquewhite;
    font-size: 20px;
}
.contact-detail{
    display: flex;
    gap: 20px;
    align-items: center;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-right label{
    color: antiquewhite;
    font-size: 20px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 5px;
    background: #282c34;
    color: #a0a0a0;
    font-family: 'outfit', sans-serif;
    font-size: 20px;
}
.contact-right textarea{
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 5px;
    background: #282c34;
    color: #a0a0a0;
    font-family: 'outfit', sans-serif;
    font-size: 20px;
}
.contact-submit{
    border: none;
    color: black;
    border-radius: 50px;
    background: linear-gradient(267deg, #00ff00 -5.09%, #00BFFF 106.28%);
    font-size: 20px;
    padding: 20px 30px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}
.contact-submit:hover{
    transform: scale(1.05);
    transition: 0.3s;
}.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 100px 170px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 5px 30px;
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    left: -45px;
    z-index: 0;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-left h1{
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(267deg, #00ff00 -5.09%, #00BFFF 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 500px;
    color: antiquewhite;
    font-size: 20px;
    line-height: 40px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: antiquewhite;
    font-size: 20px;
}
.contact-detail{
    display: flex;
    gap: 20px;
    align-items: center;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 500px;
}
.contact-right label{
    color: antiquewhite;
    font-size: 20px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 5px;
    background: #282c34;
    color: #a0a0a0;
    font-family: 'outfit', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
.contact-right textarea{
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 5px;
    background: #282c34;
    color: #a0a0a0;
    font-family: 'outfit', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
.contact-submit{
    border: none;
    color: black;
    border-radius: 50px;
    background: linear-gradient(267deg, #00ff00 -5.09%, #00BFFF 106.28%);
    font-size: 20px;
    padding: 20px 30px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}
.contact-submit:hover{
    transform: scale(1.05);
    transition: 0.3s;
}